
@model IEnumerable<KurumsalEntityLayer.Entity.Slider>

<link href="~/Content/SwipperPlugin/dist/css/swiper.css" rel="stylesheet" />
<script src="~/Content/SwipperPlugin/dist/js/swiper.js"></script>
<link href="~/Content/SwipperPlugin/dist/css/animate.min.css" rel="stylesheet" />

<div class="swiper-container">
    <div class="swiper-wrapper">

        @foreach (var item in Model)
        {
            <div class="swiper-slide" style="position: relative; width: 100%!important;background-image: url(@item.ImageURL);">
                <img src="@item.ImageURL" style="width: 100%!important; max-width: 100%!important" />

                <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">


                    <div class="stitle" style="display: table; width: 100%; height: 100%;">

                        <div style="display: table-cell; vertical-align: middle; text-align: left; width: 100%;background-color:rgb(0 0 0 / 0,18);">
                            <div class="container">

                                <h1>@item.SliderTitle</h1>

                                <br />

                                <p>@item.MetaDescription</p>

                            </div>



                        </div>



                    </div>




                </div>

            </div>
        }



    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div>

<script>


    var swiper = new Swiper('.swiper-container', {

        direction: 'horizontal',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 0,
        grabCursor: true,
        autoheight: true,
        watchSlidesProgress: true,
        mousewheelControl: true,
        keyboardControl: true,
        speed: 500,
        effect: 'slide',
        zoom: true,
        dots: false,
        loop: true,

        centeredSlides: true,
        autoplay: {
            delay: 7000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            type: 'bullets',
            renderBullet: function (index, className) {

                var iurl = $(".swiper-wrapper .swiper-slide").eq(index + 1).find("img").attr("src");

                //return '<span class="' + className + '">' + (index + 1) + '</span>';

                //return '<span class="' + className + '">' + '<img src="' + iurl + '" />' + '</span>';

                return '<span class="' + className + '"></span>';
            },
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },



    });

    $('.swiper-pagination-bullet').hover(function () {
        $(this).trigger("click");
    });



    $(".swiper-slide img").css("width", "100%!important");

    swiper.on('slideChange', function () {
        $(".stitle h1").removeClass("animate__animated animate__fadeInDown");
        var id = swiper.activeIndex;
        $(".stitle h1").eq(id).addClass("animate__animated animate__fadeInDown animate__delay-1s");

        $(".stitle p").removeClass("animate__animated animate__fadeInUp");
        var id = swiper.activeIndex;
        $(".stitle p").eq(id).addClass("animate__animated animate__fadeInUp animate__delay-1s");

        $(".stitle a").removeClass("animate__animated animate__fadeIn");
        var id = swiper.activeIndex;
        $(".stitle a").eq(id).addClass("animate__animated animate__fadeIn animate__delay-2s");
    });



    swiper.updateSize();
    swiper.updateSlides();

</script>






